In [227]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression

In [228]:
data = pd.read_csv('../../datasets/in/titanic/train.csv',delimiter=',')

In [229]:
seed = 42
np.random.seed(seed)

In [230]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [231]:
y = data['Survived']
x = data.drop(columns='Survived')
# x = data.drop('Survived', axis=1) # Аналог команды выше

In [232]:
x.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [233]:
x.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [234]:
y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [235]:
x.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [236]:
drop = ['Name', 'Ticket', 'Cabin', 'Embarked']

In [237]:
# x = x.drop(columns=drop)

x.drop(columns=drop, inplace=True) # inplace - на месте - переприсваивание. Изменение у текущей переменной новой, без создания записи

In [238]:
x.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0            1       3    male  22.0      1      0   7.2500
1            2       1  female  38.0      1      0  71.2833
2            3       3  female  26.0      0      0   7.9250
3            4       1  female  35.0      1      0  53.1000
4            5       3    male  35.0      0      0   8.0500

In [239]:
x.shape

(891, 7)

In [240]:
x.PassengerId.nunique()

891

In [241]:
x.drop(columns=['PassengerId'], inplace=True)

In [242]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  22.0      1      0   7.2500
1       1  female  38.0      1      0  71.2833
2       3  female  26.0      0      0   7.9250
3       1  female  35.0      1      0  53.1000
4       3    male  35.0      0      0   8.0500

In [243]:
def binarize(x):
    if x == 'female':
        return 1
    else:
        return 0

In [244]:
x['Sex'] = x['Sex'].apply(lambda x: binarize(x))

In [262]:
x['Age_unk'] = x['Age'].apply(lambda x: np.isnan(x))

In [245]:
x.dtypes

Pclass      int64
Sex         int64
Age       float64
SibSp       int64
Parch       int64
Fare      float64
dtype: object

In [246]:
-1*np.log(0) # Учитывать для проверок, что не только числовые данные имеют числовой тип

C:\Users\UserIDO\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

inf

In [247]:
x.isna().sum().sum()

177

Что делать с незаполненными данными

1) убрать

2) моде или медиана

3) смотреть по классам

4) предсказать возраст

5) случайно сгенерировать

Добавить новый признак - мы заполняли эту строчку

In [248]:
# Выбираем 2 вариант - заполняем модой

x['Age'].fillna(x['Age'].median(), inplace=True)

In [249]:
x.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [250]:
x['Age'].value_counts()

28.00    202
24.00     30
22.00     27
18.00     26
19.00     25
30.00     25
21.00     24
25.00     23
36.00     22
29.00     20
32.00     18
27.00     18
35.00     18
26.00     18
16.00     17
31.00     17
34.00     15
20.00     15
23.00     15
33.00     15
39.00     14
17.00     13
42.00     13
40.00     13
45.00     12
38.00     11
50.00     10
2.00      10
4.00      10
47.00      9
        ...
71.00      2
59.00      2
63.00      2
0.83       2
30.50      2
70.00      2
57.00      2
0.75       2
13.00      2
10.00      2
64.00      2
40.50      2
32.50      2
45.50      2
20.50      1
24.50      1
0.67       1
14.50      1
0.92       1
74.00      1
34.50      1
80.00      1
12.00      1
36.50      1
53.00      1
55.50      1
70.50      1
66.00      1
23.50      1
0.42       1
Name: Age, Length: 88, dtype: int64

In [251]:
model = LogisticRegression()

In [252]:
model.fit(x, y) # Обучение модели

C:\Users\UserIDO\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [253]:
# Модель обучилась - можем что-то предсказать
preds = model.predict(x)

In [254]:
preds

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [255]:
model.score(x, y) # Показывает, как точно предсказывает модель. В 80% данных программа правильно классифицирует

0.8002244668911336

In [256]:
data_test = pd.read_csv('../../datasets/in/titanic/train.csv')

In [257]:
data_test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [258]:
# list(x.colunms)

In [259]:
# x_test = data_test[]

Дописать по данным преподавателя

In [260]:
preds = model.predict(x_test)

In [261]:
preds_data = pd.DataFrame(x_test['PassengerId'][:418])

KeyError: 'PassengerId'

In [ ]:
len(preds)

In [ ]:
preds_data['Survived'] = preds

In [ ]:
preds_data.shape

In [ ]:
preds_data.to_csv('../../datasets/out/titanic/preds.csv', index=False)

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt

# Чтение файла .csv
data = pd.read_csv('../../datasets/in/titanic/train.csv',delimiter=',').copy()

# Получение количества строк
data_length = len(data)

# Получение значение "разделителя данных" с учетом того, что первые 80% данных пойдут на тренировочную выборку
data_delimiter = (int)(data_length * 0.8)

In [ ]:
data

In [ ]:
data_index = data.index.tolist()

Перемещивание данных

In [ ]:
# Получение списка со случайными значениями
np.random.shuffle(data_index)

# Получение списка со случайными значениями
x_new = x.iloc[data_index]
y = y[data_index]

In [ ]:
print(data_index)

In [ ]:
x_new

In [ ]:
x_train_new = x_new[:data_delimiter]

x_test_new = x_new[data_delimiter:]

In [ ]:
x_train_new

In [ ]:
x_test_new

In [ ]:
x_new[0, 1]

Вариант преподавателя

In [263]:
# Создание массива
idxs = list(range(len(y)))

np.random.shuffle(idxs)

x_new = x.iloc[idxs]
y = y[idxs]

In [264]:
x_train = x_new[:int(.8*len(y))]
y_train = y[:int(.8*len(y))]

x_test = x_new[int(.8*len(y)):]
y_test = y[int(.8*len(y)):]

In [265]:
model = LogisticRegression()
model.fit(x_train, y_train)

print('Точность на обуч. выборке',  model.score(x_train, y_train))
print('Точность на тестовой выборке',  model.score(x_test, y_test))

Точность на обуч. выборке 0.7935393258426966
Точность на тестовой выборке 0.7932960893854749

C:\Users\UserIDO\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [ ]:
data_test = pd.read_csv('test.csv')


preds_data = pd.DataFrame(data_test['PassengerId'][:418])

features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

# x_test_kaggle = pd.DataFrame(data_test['PassengerId'][:418])

x_test_kaggle = data_test[features]

x_test_kaggle['Age_unk'] = x_test_kaggle['Age_unk'].apply(lambda x: np.isnan(x))
x_test_kaggle['Age'] = x_test_kaggle['Age'].fillna(x_test_kaggle['Age'].median(), inplace=True)
x_test_kaggle['Fare'] = x_test_kaggle['Fare'].fillna(x_test_kaggle['Fare'].median(), inplace=True)
x['Sex'] = x['Sex'].apply(lambda x: binarize(x))

preds = model.predict(x_test_kaggle)

preds_data['Survived'] = preds
preds_data.to_csv('Preds.csv', index=False)