Задание 1.

1.1. Разобраться в функциях sklearn GridSearch, RandomSearch для дерева решений и логистической регрессии.

1.2. Сравнить результаты для обоих моделей.

Проблемы с установкой graphviz.

Возможное решение: https://overcoder.net/q/463149/python-%D0%BF%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%D1%8B-%D1%81-%D1%83%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%BE%D0%B9-pygraphviz-%D0%B8-graphviz

Задание 2.

2.1. Взять исходный датасет Titanic и попробовать не выбрасывать строковые переменные, а закадировать их. 
Вам могут помочь LabelEncoder, OneHotEncoder и др, которые можно увидеть в соответствующих библиотеках sklearn. 
Сравнить полученные результаты со случаем, когда строковые переменные не использовались. 
И там и там используйте модель с гиперпараметрами, найденными в первом пункте.

Полезные ссылки:
    
1) Отличия LabelEncoder от OneHotEncoder: https://habr.com/ru/post/456294/

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [26]:
#Запуск случайных чисел
seed = 42
np.random.seed(seed)

# Чтение файла с обучающейся выборкой
data = pd.read_csv('../../datasets/in/titanic/train.csv')

# Присвоение переменным значений с количеством спасшихся и с остальными данными
y = data['Survived']
x = data.drop(['Survived'], axis=1)

# Функция по переводу строкового признака Пол в числовой
def binarize(x):
    if x == 'female':
        return 1
    else:
        return 0

# Перевод строкового признака Пол в числовой
x['Sex'] = x['Sex'].apply(lambda d: binarize(d))

# Добавление столбца с признаком удаленого события
x['Age_unk'] = x['Age'].apply(lambda d: np.isnan(d))

# Замена нулевых значений медианой
x['Age'].fillna(x['Age'].median(), inplace=True)

In [27]:
# Присвоение значений признаков для обучающей и тестовой выборке переменным
X_drop = x

X_encoder = x

In [28]:
X_drop.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_unk
0,1,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,False
4,5,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,False

In [29]:
# Удаление лишних (не числовых столбцов)
select_column = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked']
X_drop.drop(columns=select_column, inplace=True)

In [30]:
encode = LabelEncoder()

features[:,0] = encode.fit_transform(features[:,0])

NameError: name 'features' is not defined

In [31]:
# Метод позволяющей поделить данные на 20 и 80%
X_drop_train, X_drop_test, y_train, y_test = train_test_split(X_drop,
                                                   y, test_size=0.2,
                                                   random_state=seed)

In [32]:
# Метод позволяющей поделить данные на 20 и 80%
X_encoder_train, X_encoder_test, y_train, y_test = train_test_split(X_encoder,
                                                   y, test_size=0.2,
                                                   random_state=seed)

In [33]:
X_drop_train.head()

     Pclass  Sex   Age  SibSp  Parch     Fare  Age_unk
331       1    0  45.5      0      0  28.5000    False
733       2    0  23.0      0      0  13.0000    False
382       3    0  32.0      0      0   7.9250    False
704       3    0  26.0      1      0   7.8542    False
813       3    1   6.0      4      2  31.2750    False

In [37]:
onehotencoder = OneHotEncoder(categorical_features = [0])
x = onehotencoder.fit_transform(x).toarray()

In [38]:
x

array([[ 1.    ,  0.    ,  0.    , ...,  0.    ,  7.25  ,  0.    ],
       [ 0.    ,  1.    ,  0.    , ...,  0.    , 71.2833,  0.    ],
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  7.925 ,  0.    ],
       ...,
       [ 1.    ,  0.    ,  0.    , ...,  2.    , 23.45  ,  1.    ],
       [ 0.    ,  1.    ,  0.    , ...,  0.    , 30.    ,  0.    ],
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  7.75  ,  0.    ]])

Задание 3.

3.1. Посмотреть метрики вида (в библиотеке sklearn) Precision, Accuracy, Recall и F1 score. 

3.2. Понять где они наиболее приемлемы для использования. 

3.3. Сравнить результаты модели в различных метриках. Модель наилучшая после двух пунктов.

Ссылки:

1) Теория по метрикам кода (видеолекция на 8,5 мин.): https://courses.openedu.ru/courses/course-v1:mipt+DATA_AN+spring_2020/courseware/309ba8b3850e4278a9522d2c4e0e5135/4e2d182dbda54c3595a1632862257f4b/;